## Decision Tree
sklearn 사용

In [1]:
# library import
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score

In [2]:
# load dataset
df = pd.read_csv('../data/merged_data/variables0424.csv')
hash_table = pd.read_csv('../data/acc_id_hash_table.csv')
label = pd.read_csv('../data/final_data_rev/train/train_label.csv')

In [10]:
# merge label and hash table
merged_hash = df.merge(hash_table, left_on='acc_id', right_on='acc_id')
merged_hash = merged_hash.merge(label, left_on='acc_id', right_on='acc_id')
merged_hash['acc_id'] = merged_hash['hashed']
merged = merged_hash.drop('hashed', axis=1)

In [15]:
# check validation
print(merged.shape)
merged.head()

(100000, 62)

,acc_id,week1_cnt_dt,week2_cnt_dt,week3_cnt_dt,week4_cnt_dt,week5_cnt_dt,week6_cnt_dt,week7_cnt_dt,week8_cnt_dt,total_cnt_dt,...,total_making_cnt,week1_is_connected,week2_is_connected,week3_is_connected,week4_is_connected,week5_is_connected,week6_is_connected,week7_is_connected,week8_is_connected,label
0,BDJK,-0.633771,-0.695061,-0.810572,-0.870099,-0.882377,-0.816841,0.806140,1.482040,-2.420541,...,-2.924292,0,0,0,0,0,0,1,1,week
1,EPPL,0.518100,0.456923,-0.078758,0.605139,0.214888,0.707692,0.065025,-0.527751,1.961259,...,-2.924292,1,1,1,1,1,1,1,1,retained
2,FEEC,-0.633771,-0.695061,-0.078758,-0.132480,-0.150867,-0.816841,-0.676089,0.477144,-2.706722,...,-2.924292,0,0,1,1,1,0,1,1,retained
3,BRWQ,0.518100,-0.695061,1.384870,1.711567,-0.882377,-0.054574,1.547255,0.979592,4.509371,...,-2.924292,1,0,1,1,0,1,1,1,month
4,DDKZ,-0.633771,-0.311066,-0.810572,-0.870099,-0.882377,-0.816841,-1.046647,-1.030198,-6.401571,...,-2.924292,0,1,0,0,0,0,0,1,2month

In [16]:
# re-labeling : retained -> 0 , week -> 1, month/2month -> 2
merged[merged['label'] == 'retained'] = 0
merged[merged['label'] == 'week'] = 1
merged[merged['label'] == 'month'] = 2
merged[merged['label'] == '2month'] = 2

In [ ]:
# save as csv file
merged.to_csv('merged_data.csv', index=False)

In [22]:
# split independent variables & target variable

X = merged.iloc[:, 1:-1] #drop acc_id & label
y = merged.iloc[:, -1] # contains label

0    1
1    0
2    0
3    2
4    2
Name: label, dtype: int64

In [23]:
# train_test_split
test_size = 0.3
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=42)